@media (max-width: 430px) {

    .cabecalho{
        width: auto;
    }

    .title{
        font-size: 30px;
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap;
        
    }
   
    .section1, .section2{
        padding: 10px;
    }

}